h1{
    color:black; 
    text-align: center;

}

h3{
    text-align: center;
}

#livro{
    text-align: center; 
    color: blue;
}

#tr1{
    color: black;
    background-color: aqua;
}

#tr2{
    color:black;
}

body{
    background-color: aquamarine;
}

#principal{
    margin: auto;
    height: 90%;
    width: 90%;
}
